# Ignore all raw IMDb data files in the data folder
data/*.tsv
data/*.gz

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
venv/
env/
.tf-env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code workspace settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Optional: ignore large or temporary output files
*.log
*.pkl
*.joblib
*.h5
*.db
